body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/150/020/original/photo-weather.png?1731334596");
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.weather-app {
  background: linear-gradient(to bottom, rgba(255, 241, 235,0.7) 0%, rgba(172, 224, 249,0.7) 100%);
  max-width: 600px;
  margin: 50px auto;
  padding: 40px;
  box-shadow: 2px 4px 30px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 45px 0;
}

a {
  color: #885df1;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 15px 20px;
}

.search-form-button {
  background: #81e1eb;
  padding: 15px 25px;
  border: none;
  border-radius: 10px;
  color: #fffafa;
  margin-left: 5px;
  font-size: 15px;
}

.search-form-button:hover {
opacity: 0.8;
cursor: pointer;
}

main {
  padding: 40px 0 40px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  font-size: 38px;
  line-height: 48px;
  margin: 0;
}

.weather-app-details {
  font-size: 16px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 400;
}

.weather-app-details strong {
  color: #f15d87;
}

.weather-app-container {
  display: flex;
}

.weather-temperature {
  font-size: 88px;
  font-weight: bold;
}

.weather-app-icon {
  width: 79px;
  height: 70px;
}

.weather-app-unit {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 40px;
  font-weight: bold;
}

.weather-symbol {
  font-size: 40px;
  font-weight: bold;
}

.weather-forecast {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.weather-forecast-date {
  text-align: center;
  font-size: 16px;
  color: rgba(37, 31, 61, 0.6);
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
    width: 88px;
    height: 88px;
    display: block;
    margin: 0 auto;
}

.weather-forecast-temperatures {
    text-align: center;
    margin-top: 10px;
    color: #885df1;
    display: flex;
    justify-content: center;
}

.weather-forecast-temperature {
    padding: 0 10px;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 45px 0 0 0;
  text-align: center;
  font-size: 14px;
  font-weight: 350;
  color: rgba(0, 0, 0, 0.6);
}
